#Driving {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#Driving .aboutExam{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:0.5rem 1rem;
    flex-direction: column;
}
#Driving .aboutExam .examInfo{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
#Driving .aboutExam .examPhoto{ 
    width: 20rem;
    height: 20rem;
    position: relative;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Driving .aboutExam .examPhoto img{ 
    width: 100%;
    height: 100%;
    position: absolute;
}
#Driving .aboutExam .examphares{ 
    width: 70%;
    max-height: 28rem;
    overflow: hidden;
    position: relative;
    display: flex;
    text-align: right;
    direction: rtl;
    flex-direction: column;
    line-height: 35px;
}
#Driving .aboutExam .examphares h1{ 
    margin-bottom: 2rem;

}
#Driving .aboutExam .examphares h5{ 
    margin-top: 2rem;
    color: rgb(156, 198, 92);

}
#Driving .aboutExam .examBtn{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.5rem 2rem;
}
#Driving .aboutExam .examBtn button{ 
    width: 15rem;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background-color: #F1E1A6;
    
}
#Driving .aboutExam .examBtn button:active{ 
    box-shadow: none;
}
#Driving .examRoll{ 
    width: 100%;
    height: 12rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Driving .examRoll .rolls{ 
    width: 15rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Driving .stylePhoto{ 
    width: 2rem;
    height: 2rem;
}



@media (min-width: 566px) and (max-width: 830px){
    #Driving .aboutExam .examPhoto{ 
        width: 15rem;
        height: 15rem;
    }
    #Driving .aboutExam .examBtn button{ 
        width: 12rem;
        padding: 0.5rem;
        
    
        
    }
    #Driving .aboutExam .examphares h1{ 
        font-size: 20px;
    }
  }
  @media (max-width: 565px) {
    #Driving .aboutExam .examInfo{ 
        flex-direction: column;
    }
    #Driving .aboutExam .examphares{ 
        width: 100%;  
    margin-top: 2rem;  }
        #Driving .aboutExam .examBtn{ 
            flex-direction: column;
        }
        #Driving .aboutExam .examBtn button{ 
            margin-bottom: 1rem;
            
        }
        #Driving table, th, td {
            font-size: 12px;
            width: 9rem;
            
        
        
          }
     

  }

